[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pylast = "*"
numpy = "*"
pillow = "*"
requests = "*"
e1839a8 = {editable = true,path = "."}
lastfm-cg = {editable = true,path = "."}
requests-cache = "*"

[requires]
python_version = "3.7"
