[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bot-lastfm-cg = {editable = true,path = "."}
twine = "*"

[packages]
bot-lastfm-cg = {editable = true,path = "."}
e1839a8 = {editable = true,path = "."}
lastfm-cg = {editable = true,path = "."}

[requires]
python_version = "3.8"
