[Unit]
Description=mastodon_bot_lastfm_cg_weekly.service

[Service]
Type=oneshot
WorkingDirectory=%h/Documents/lastfm_cg/mastodon_bot_lastfm_cg/
# With pipenv
ExecStart=%h/Documents/lastfm_cg/mastodon_bot_lastfm_cg/.venv/bin/mastodon_bot_lastfm_cg -d ../Exports

[Install]
WantedBy=multi-user.target
