[Unit]
Description=lastfm_cg_weekly.service

[Service]
Type=oneshot
WorkingDirectory=%h/Documents/lastfm_cg/Exports
# With pipenv
ExecStart=%h/Documents/lastfm_cg/.venv/bin/lastfm_cg -u diyod

[Install]
WantedBy=multi-user.target
