[Unit]
Description=bot_lastfm_cg_yearly.service

[Service]
Type=oneshot
WorkingDirectory=%h/Documents/lastfm_cg/bot_lastfm_cg/
# With pipenv
ExecStart=%h/Documents/lastfm_cg/bot_lastfm_cg/.venv/bin/bot_lastfm_cg -d ../Exports -t 12month

[Install]
WantedBy=multi-user.target
